<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxq.mybatis.mapper.UserMapper">

    <sql id="userColumns">name,password,age,tel</sql>
    <insert id="addUserByList">
        insert into user values 
        <foreach collection="users" item="user" separator=",">
            (null, #{user.name},#{user.password},#{user.age},#{user.tel})
        </foreach>
    </insert>
    
    <delete id="deleteByIds">
        delete from user where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )

    </delete>

    <select id="getByName" resultType="com.lxq.mybatis.pojo.User">
        <!--select * from user where name = '${name}' -->
        select * from user where name = #{aa}
    </select>
    <select id="getAll" resultType="com.lxq.mybatis.pojo.User">
        select * from user where id = 3
    </select>
    <select id="getAllUsers" resultType="User">
        select <include refid="userColumns"></include> from user
    </select>
</mapper>